<ion-card class="ion-no-padding">
  <ion-card-content class="ion-no-padding">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="white">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label> Planning universitaire </ion-label>
        </ion-item>
        <div class="content" slot="content">
          <table>
            <tbody>
              <tr>
                <td rowspan="6" class="semesterTitle"> Semestre d'Automne </td>
                <td> Debut des cours </td>
                <td> 
                  Lundi 04 Octobre 2021
                  (Semaine 1)
                </td>
              </tr>
              <tr>
                <td> 
                  Fin des cours, Rattrapages des
                  cours et Examens finaux
                </td>
                <td> 
                  Samedi 15 janvier 2022 
                  (Semaine 15)
                </td>
              </tr>
              <tr>
                <td> 
                  Corrections, Délibérations session 1 et affichages des rattrapages pour les modules non validés  
                </td>
                <td> 
                  Du lundi 17 au samedi 22 janvier 2022
                </td>
              </tr>
              <tr>
                <td> 
                  Vacances de fin du semestre  
                </td>
                <td> 
                  Du dimanche 23 janvier au dimanche 30 janvier 2022
                </td>
              </tr>
              <tr>
                <td> 
                  Examens de rattrapages des modules
                </td>
                <td> 
                  Du lundi 31 janvier au samedi 05 février 2022
                </td>
              </tr>
              <tr>
                <td> 
                  Délibérations de la session 2 et affichage des résultats
                </td>
                <td> 
                  Du lundi 07 au samedi 12 février 2022
                </td>
              </tr>
            </tbody>

            <tbody>
              <tr>
                <td rowspan="5" class="semesterTitle"> Semestre de Printemps </td>
                <td> Debut des cours </td>
                <td> 
                  Lundi 14 février 2022 
                </td>
              </tr>
              <tr>
                <td> 
                  Vacances de printemps 
                </td>
                <td> 
                  Du dimanche 01 mai au dimanche 08 mai 2022
                </td>
              </tr>
              <tr>
                <td> 
                  Fin prévue des cours 
                </td>
                <td> 
                  Samedi 04 juin 2022
                </td>
              </tr>
              <tr>
                <td> 
                  Rattrapage, délibérations et résultats
                </td>
                <td> 
                  Avant le samedi 18 juin 2022
                </td>
              </tr>
              <tr>
                <td> 
                  Délibérations et résultats des finaux 
                </td>
                <td> 
                  Avant samedi 08 juillet 2022
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-content>
</ion-card>