<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Mes étudiants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="nodata">
    <div class="vertical-center">
      <ion-img src="../../../assets/images/maintenance.svg"></ion-img>
      <div>
        <strong><ion-text color="primary">En cours de developpement</ion-text></strong>
      </div>
    </div>
  </div>
</ion-content>
