<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="monplanning">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Mon planning</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mesmatieres">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Mes matieres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mesresultats">
      <ion-icon name="school"></ion-icon>
      <ion-label>Mes résultats</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs> 
