ion-content {
    --background: var(--ion-color-light);
}

ion-list {
    background: transparent!important;
}


ion-item {
    border-radius: 10px;
    margin: 2%;
}

h2 {
    font-size: 15px;
}

.fs-10 {
    font-size: 10px;
}

.bg-opaque {
    opacity: .5;
}

p {
    color: #222;
    font-weight: 300;
}


ion-label {
    font-weight: 300;
}