<!-- eslint-disable -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Détails</ion-title>
    <ion-buttons slot="end" *ngIf="IsOpen == true">
      <ion-button id="open-modal" (click)="OpenConfirmation()" title="Completer inscription" shape="round">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-fab-button >
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button> -->
  </ion-toolbar>
</ion-header>



<ion-content>
  <!-- <ion-refresher slot="fixed" (ionRefresh)="Refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <ion-list>

    <ion-item lines="none" color="light" class="ion-text-center bg-none" style="width: 100%;" *ngIf="IsLoading === true">
      <ion-spinner style="margin: auto;" color="primary"></ion-spinner>
    </ion-item>

    <span>

      <!-- <ion-item lines="full" *ngIf="sms.IsOpen"> -->

      <!-- <ion-grid> -->


      <!-- MatieresObligatoire -->
      <ion-row *ngFor="let section of Sections;">
        <ion-card class="card-matieres">
          <ion-card-header>
            <ion-card-title [class]="section.Class" *ngIf="section.Matieres.length > 0" style="padding: 3px 10px 3px 10px;">
              {{ section.Title }}
            </ion-card-title>
            <ion-card-subtitle *ngIf="section.Matieres.length == 0"><small><i>{{ section.NoDataTitle }}</i></small></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row *ngFor="let crs of section.Matieres;" style="font-size: small;">
              <ion-col>
                {{ crs.Sms_Nom != null && crs.Sms_Nom != "" ? "S" + crs.Sms_Nom + " - " + crs.Crs_Nom : crs.Crs_Nom }}
                <div class="matiere-ouverte" *ngIf="crs.MatiereOuverte == true"><b>ouverte</b></div>
                <div class="matiere-pas-ouverte" *ngIf="crs.MatiereOuverte == false"><b>pas ouverte</b></div>
              </ion-col>
              <ion-col size="auto">
                <ion-badge [color]="crs.EtdCrs_NoteExam >= 10 ? 'primary' : 'danger'">{{ crs.EtdCrs_NoteExam }}</ion-badge>
              </ion-col>
              <ion-col size="auto" *ngIf="IsOpen == false">
                <ion-badge [color]="crs.EtdCrs_NoteRattrape >= 10 ? 'primary' : 'danger'">{{ crs.EtdCrs_NoteRattrape }}</ion-badge>
              </ion-col>
              <ion-col size="auto" *ngIf="IsOpen == true">
                <ion-checkbox [(ngModel)]="crs.EstConfirme" (ionChange)="OnMatiereChange($event, crs.EtdCrs_Id, true)" aria-label="Toggle task completion"
                  [disabled]="!crs.CanEditMatiere" class="no-padding no-margin">
                  <!-- [checked]="crs.EstConfirme" [disabled]="crs.EstTraite" -->
                </ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>



      <!-- </ion-grid> -->

      <!-- </ion-item> -->

    </span>
  </ion-list>

  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="IsLoading === false">
    <ion-fab-button id="open-modal" (click)="OpenConfirmation()" title="Completer inscription">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- trigger="open-modal" -->
  <ion-modal #modal [isOpen]="isModalOpen" [presentingElement]="presentingElement" (willDismiss)="onWillDismiss($event)">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <!-- <ion-button (click)="modal.dismiss()">Cancel</ion-button> -->
            <ion-button (click)="CloseConfirmation()" mode="md" color="dark" icon="chevron-back-outline" [disabled]="IsLoading">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Matières à payer</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-item *ngFor="let crs of GetMatieresAConfirmer();">
            <ion-label>
              <h2>{{ crs.Crs_Nom }}</h2>
              <p>{{ crs.Tarif }} Dhs</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>

      <ion-footer>

        <ion-row class="ion-justify-content-between">
          <ion-col align="left">
            <div *ngIf="TotalAPayer != null && TotalAPayer > 0">Total à payer: <b>{{ TotalAPayer }} dhs</b></div>
          </ion-col>
          <ion-col align="right">
            <ion-button (click)="SaveConfirmation()" color="dark" icon="chevron-back-outline" [disabled]="IsLoading">
              Confirmer
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-footer>

    </ng-template>
  </ion-modal>

</ion-content>


<!-- <ion-footer *ngIf="!demanderevision && (etudiant?.ds?.smsActuel?.Sms_Nom === semestre?.Sms_Nom) && hasDemandeActive()">
  <ion-button expand="block" fill="clear" (click)="demandeRev()">
    Demander une révision &nbsp;
    <ion-icon name="add-circle"></ion-icon>
  </ion-button>
</ion-footer> -->
