ion-item {
    border-radius: 10px;
    --border-radius: 10px;
    margin: 2%;
  }
  
  ion-avatar {
    width: 75px;
    height: 75px;
  }

.text-label {
    margin: 0;
    font-size: 12px;
    color: var(--ion-color-medium);
  }

  
  .form {
    margin: 10px 30px;
    ion-item {
      --inner-padding-end: 0 !important;
      // width: calc(100% - 20px);
      background: var(--ion-color-light);
      --background: var(--ion-color-light);
      margin: 16px 0px;
      padding: 0px;
      border-radius: 10px; 
      ion-input {
        font-size: 14px;
        --placeholder-color: var(--ion-color-dark) !important;
        --placeholder-opacity: 0.5;
        --color: var(--ion-color-dark) !important;
      }

     

      ion-icon {
        color: #21212150 !important;
        margin-right: 10px;
      }

      ion-button {
        height: 35px;
        margin-right: 0 !important;
        --box-shadow: none;

        img {
          transform: rotateZ(90deg);
        }
      }
    }
  }

  ion-label {
    font-weight: 300;
  }
  