<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="actualites">
      <ion-icon name="home-outline"></ion-icon>     
      <ion-label> {{ "TTR.TAB1.TITLE"|translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mesenfants">
      <ion-icon name="people"></ion-icon>
      <ion-label> {{ "TTR.TAB2.TITLE"|translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="monprofil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label> {{ "TTR.TAB3.TITLE"|translate }} </ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
