ion-card-header {
    padding: 10px 0px 0px 0px;
}

small {
    color: grey;
}

.comment{
    text-align: justify;
    padding: 10px;
}

.no-padding {
    --padding-end : 0px;
}


.greeny{
    --color : #18b99b;
  }