<ion-card class="ion-padding-bottom">
  <ion-card-header>
    <h5>
      <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
      Chiffres clés (2022-2023)
    </h5>
  </ion-card-header>
  <ion-card-content style="padding-bottom: 10px !important;">
    <ion-grid class="no-y-padding statsGrid">
      <ion-row>
        <!--
        <ion-col size="6">
          <h1> 10 </h1>
          <h4> retards </h4>
        </ion-col>
        -->
        <ion-col size="6">
          <h1> 17 </h1>
          <h4> Absences </h4>
        </ion-col>
        <ion-col size="6">
          <h1> 1 </h1>
          <h4> Incidents </h4>
        </ion-col>
        <!--
        <ion-col size="6">
          <h1> 8 </h1>
          <h4> Lorem </h4>
        </ion-col>
        -->
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>